<h1 mc:edit="header">Architecting the Digital Environment</h1>
<p><img src="images/heatmap.jpg" mc:edit="main_image" style="max-width: 560px;" /></p>
<h2 mc:edit="sub_header">Heat Maps Help Visualize Visitor Experience</h2>
<p mc:edit="content">Heat maps allow Imulus to zero in on interface design elements often uncovering the obscure interactions that could lead to more conversions, sales and engagements. Ever wonder if users are seeing the bottom of your pages? Our tools also reveal how far users are scrolling. <a href="mailto:update@imulus.com?subject=Heat%20Map%20Tracking" target="_blank" style="color: #2A5DB0;text-decoration: underline;">Please reply to this newsletter</a> if you are interested in having Imulus track specific pages on your site.</p>
